Formula Updater Model.json
{
  "name": "Modelo Atualizador de Formulas",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Qy3rjQPeMsT2g-53ZxSJtOt2u2VGvZW0zmKFyIuVSVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 925526280,
          "mode": "list",
          "cachedResultName": "Teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qy3rjQPeMsT2g-53ZxSJtOt2u2VGvZW0zmKFyIuVSVw/edit#gid=925526280"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Valor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        208,
        0
      ],
      "id": "b623802e-cdbb-4f5f-b923-62ae383d7ab0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtGtJ4wFlQK103S6",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Qy3rjQPeMsT2g-53ZxSJtOt2u2VGvZW0zmKFyIuVSVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 925526280,
          "mode": "list",
          "cachedResultName": "Teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qy3rjQPeMsT2g-53ZxSJtOt2u2VGvZW0zmKFyIuVSVw/edit#gid=925526280"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Formula1": "==A{{ $json.row_number }}-B{{ $json.row_number }}",
            "Formula2": "==A{{ $json.row_number }}-C{{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rateio",
              "displayName": "Rateio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Formula1",
              "displayName": "Formula1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Formula2",
              "displayName": "Formula2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        576,
        0
      ],
      "id": "d72292e1-14f1-4750-b3dc-da53c565a075",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtGtJ4wFlQK103S6",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "224593c4-a5ec-46c5-ba6e-5a079a4e5b35",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "1994e5df-c41e-455f-ab3c-4e007ebe1066",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Qy3rjQPeMsT2g-53ZxSJtOt2u2VGvZW0zmKFyIuVSVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 925526280,
          "mode": "list",
          "cachedResultName": "Teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qy3rjQPeMsT2g-53ZxSJtOt2u2VGvZW0zmKFyIuVSVw/edit#gid=925526280"
        },
        "includeInOutput": "both",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "44204a4d-ae10-4478-a05d-df43d10c2860",
      "name": "Google Sheets Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "f04e0d00-274c-43c1-85c3-a778194d0088",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        256
      ],
      "id": "ca557a72-da2b-4369-8254-128e5a8ec563",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v3Nb8lJKm2WXb5t8SHi2EKLjl1MnQB979_MsWDm9xiQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1015920027,
          "mode": "list",
          "cachedResultName": "Transações - Exata",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v3Nb8lJKm2WXb5t8SHi2EKLjl1MnQB979_MsWDm9xiQ/edit#gid=1015920027"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        208,
        256
      ],
      "id": "30bc2d84-7636-410d-a97f-45836dafaf98",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtGtJ4wFlQK103S6",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "224593c4-a5ec-46c5-ba6e-5a079a4e5b35",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        256
      ],
      "id": "abc7536b-11f9-4098-bc22-276a8f854ac8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v3Nb8lJKm2WXb5t8SHi2EKLjl1MnQB979_MsWDm9xiQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1015920027,
          "mode": "list",
          "cachedResultName": "Transações - Exata",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v3Nb8lJKm2WXb5t8SHi2EKLjl1MnQB979_MsWDm9xiQ/edit#gid=1015920027"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "SEGMENTO": "==SE(E(J{{ $json.row_number }}=0;K{{ $json.row_number }}=0);\"\";SE(E(J{{ $json.row_number }}<>0;K{{ $json.row_number }}<>0);\"RATEIO \"&ARRED(100*J{{ $json.row_number }}/I{{ $json.row_number }})&\"/\"&ARRED(100*K{{ $json.row_number }}/I{{ $json.row_number }});SE(J{{ $json.row_number }}<>0;\"MEDICINA\";\"ODONTOLOGIA\")))"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "PLANO DE CONTAS",
              "displayName": "PLANO DE CONTAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESCRIÇÃO",
              "displayName": "DESCRIÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEGMENTO",
              "displayName": "SEGMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA DE TRANSAÇÃO",
              "displayName": "DATA DE TRANSAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA DE VENCIMENTO",
              "displayName": "DATA DE VENCIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " VALOR TRANSAÇÃO ",
              "displayName": " VALOR TRANSAÇÃO ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " MULTA E JUROS MEDICINA ",
              "displayName": " MULTA E JUROS MEDICINA ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " MULTA E JUROS ODONTO ",
              "displayName": " MULTA E JUROS ODONTO ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " TOTAL ",
              "displayName": " TOTAL ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " TRANSAÇÃO MEDICINA ",
              "displayName": " TRANSAÇÃO MEDICINA ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " TRANSAÇÃO ODONTO ",
              "displayName": " TRANSAÇÃO ODONTO ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FORMA DE TRANSAÇÃO",
              "displayName": "FORMA DE TRANSAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DADOS DE PAGAMENTO",
              "displayName": "DADOS DE PAGAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAIXA ORIGEM",
              "displayName": "CAIXA ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS PAGAMENTO",
              "displayName": "STATUS PAGAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS LANÇAMENTO",
              "displayName": "STATUS LANÇAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS NOTA FISCAL",
              "displayName": "STATUS NOTA FISCAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS COMPROVANTE",
              "displayName": "STATUS COMPROVANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVAÇÃO",
              "displayName": "OBSERVAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Concatenado",
              "displayName": "Concatenado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preenchimento",
              "displayName": "Preenchimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status_Comprovante",
              "displayName": "Status_Comprovante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pix_Transferencia",
              "displayName": "Pix_Transferencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status_Pagamento_Lancamento",
              "displayName": "Status_Pagamento_Lancamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        640,
        256
      ],
      "id": "ce97a011-9ee1-455d-86f8-c553c6bb15e4",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QtGtJ4wFlQK103S6",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "183b4dd6-4588-4d26-9ec8-be4f940d4cdb",
  "meta": {
    "instanceId": "f0e738ec794ba1e5c3ef62092fa0b8d279304ac33905812090932de2c95584d5"
  },
  "id": "lgOrozQirxfYdDFr",
  "tags": []
}